.tmj-navbar {
    background-color: #333;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.tmj-navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.tmj-navbar a:hover {
    background-color: #ddd;
    color: #333;
}
.tmj-navbar a.active {
    background-color: #0056b3;
    color: white;
}