.tmjrock_modalMask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid red;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(60, 60, 60, 0.8));
    backdrop-filter: blur(5px);
    position: fixed;
    opacity: 70%;
}

.tmjrock_modal {
    width: 400px;
    min-width: 400px;
    height: 300px;
    min-height: 300px;
    background: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    animation: slideFromTop 0.5s ease-out;
}

@keyframes slideFromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.tmjrock_modalHeader {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tmjrock_modalFooter {
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.tmjrock_closeButton {
    background-color: #ff4d4d;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14pt;
}

.tmjrock_closeButton:hover {
    background-color: #ff1a1a;
    transition: background-color 0.3s ease, transform 0.2s ease;
    transform: scale(1.1);
}

/* Mobile Responsiveness Overrides */
@media (max-width: 650px) {
    .tmjrock_modal { 
    
        width: 90% !important;
        min-width: 0 !important;
        height: auto !important;
        min-height: 0 !important;
        max-height: 90vh !important;
        overflow-y: auto !important;
    }
    
    
    .tmjrock_modal > div:nth-child(2) {
        width: 100% !important;
        height: auto !important;
        max-height: 60vh !important;
    }
}